.btn {
  @include border-radius(3px);
  font-size: $font-size-default;
  border-width: 1px;
  background:none;

  &.btn-primary {
    border-color: $primary-color;
    background-color: $primary-color;
    color:white;
    &:hover, &:focus {
      background-color: rgba($primary-color, 0.9);
    }

    &.btn-inverse {
      color:$primary-color;
      background-color: $white;
    }
  }

  &.btn-secondary {
    border-color: rgba($secondary-color,0.3);
    background-color: $secondary-color;
    color:white;
    &:hover, &:focus {
      background-color: rgba($secondary-color, 0.9);
    }

    &.btn-inverse {
      color:$secondary-color;
      background-color: $white;
    }
  }

  &.btn-danger {
    border-color: $danger-color;
    background-color: $danger-color;
    color:white;
    &:hover, &:focus {
      background-color: rgba($danger-color, 0.9);
    }

    &.btn-inverse {
      color:$danger-color;
      background-color: $white;
    }
  }
}

a.btn {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

//icons
i { 
  font-style: normal;
}