.collapsed-form-fields { 
  background: transparent;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 3px;
  border: 1px solid $border_color;
  &.row { 
    margin-left: 0px;
    margin-right: 0px;
  }
  .row { 
    margin-left: 0px;
    margin-right: 0px;
  }
  [class*=col-] {
    //have to use !important to step on col- for widths 
    padding-left: 0 !important;
    padding-right: 0 !important;
    //border-top: 1px solid red;
    border-right: 1px solid $border_color;
    @include mq(sm) { 
      border-right: 0px solid transparent;
      border-top: 1px solid $border_color;
    }
    &:last-child { 
      border-right: none;
    }
  }
  .form-group {
    border-top: 1px solid $border_color;
    margin-bottom: 0px;
    margin-left: -15px;
    margin-right: -15px;
    &:first-child { 
      [class*=col-] { 
        &:first-child { 
          border-top: 0px solid $border_color;
        }
      }
    }
    @include mq(sm) { 
      border-top: 1px solid transparent;
    }
    &:before, &:after { 
      content: " ";
      display: table;
      clear: both;
    }
    .control-label { 
      //display: none;
    }
    .form-control { 
      border: 0;
      box-shadow: none;
      background: transparent; 
      &:focus {}
    }
    
    &:first-child { 
      //cancel out the border on the first because we have a border-top on .form-group
      border-top: 0;
      .floating-label-form-group.validation-failed { 
        //target first item in the row
        &:first-child { 
          .form-control {
            border-top-left-radius: 2px;
          }
        }
        //target last item in the row
        &:last-child { 
          .form-control {
            border-top-right-radius: 2px;
          }
        }
      }
    }
    &:last-child {
      .floating-label-form-group.validation-failed { 
        //target first item in the row
        &:first-child {
          .form-control {
            border-bottom-left-radius: 2px;
          }
        }
        //target first item in the row
        &:last-child { 
          .form-control {
            border-bottom-right-radius: 2px;
          }
        }
      }
    }
  }
  .select2-container {
    &.select2-container-disabled .select2-choice { 
      border: none;
      height: 100%;
    }
  }
}