//Floating labels with css
.floating-label-form-group {
  position: relative;
  @extend .clearfix;
  input {
    position: relative;
    z-index: 1;
  }
  textarea {
    position: relative;
    z-index: 1;
    resize: none;
  }
  .form-control { 
    border: $border_color 1px solid;
  }
  label {
    display: block;
    position: absolute;
    top: 2em;
    padding-left: 12px;
    padding-right: 12px;
    opacity: 0;
    z-index: 0;
    font-size: 9px;
    vertical-align: baseline;
    margin: 0;
    transition: top 0.5s ease, opacity 0.5s ease;
    font-weight: normal;
  }
  span.required {
    color: $label_color;
    font-size: 12px;
    //setting line height to prevent the different sized font 
    //from adjusting the position of the rest of the label
    line-height: 4px;
    margin-left: 2px;
  }
  //When there is a value present
  &-with-value { 
    .form-control { 
      padding-top: 21px;
      //padding-bottom: 5px; commenting for spacing on the select2 
      transition: top 0.5s ease, opacity 0.5s ease;
      color: $input_text_color;
      line-height: 24px;
      &.select2-container { 
        padding-top: 0px;
        height: $input-height;
        .select2-chosen { 
          padding-top: 21px;
          height: $input-height - 2px;
          line-height: 24px;
        }
      }
    }
    .ui-select-container { 
      padding-top: 0px;
      .ui-select-match { 
        .ui-select-toggle { 
          .caret {
            top: 13px;
          }
        }
      }
    }
    label {
      top: 9px;
      opacity: 1;
      color: $label_color;
      z-index: 2;
    }
  }
  &-with-focus { 
    label { 
      color: $label_focus_color;
    }
  }
  &.gray { 
    .form-control { 
      //background: $alabaster_approx;
      background: transparent;
    }
  }
  &.validation-failed { 
    .form-control {
      border: 1px solid $danger-color !important;
      border-radius: 0;
    }
  }
}