
.form-group {
  .select2-choice {
    border: none;
    box-shadow: none;
    background-color: transparent;
    border-color: none;
    border-radius: 0;
    height: auto;
  }
  .input-group {
    border-color: #ccc;
    .input-group-addon {
      background: transparent;
      padding: 0px 12px;
      font-size: 14px;
      line-height: 1;
      color: $input_addon_color;
      text-align: center;
      border: 1px solid #ccc;
      text-transform: capitalize;
      &:first-child {
        border-right: none;
      }
      &:last-child {
        border-left: none;
      }
      i {
        position: relative;
        top: 2px;
        font-size: 18px;
      }

    }
  }
}
.form-control, .form-control[readonly] {
  //Removing shadow
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-appearance: none; /*remove shadow on input*/
  background: transparent;

  //styles for form control
  font-size: 14px;
  line-height: 17px;
  height: $input-height;
  &:focus { 
    outline: 0;
    box-shadow: none;
  }
}

.idonate-cc-indicators {
  margin:0;
  padding:0;
  top: 12px;
  right: 20px;
  position: absolute;
  z-index: 1;
  .card {
    padding: 0;
    margin-left: 5px;
    display: none;
    height: 28px;
    width: 44px;
    opacity: 1;
    position: initial;
    cursor: text;
    &.active {
      display: inline-block;
    }
    &.discover {
      background: url(images/discover.svg) no-repeat center;
    }
    &.visa {
      background: url(images/visa.svg) no-repeat center;
    }
    &.amex {
      background: url(images/amex.svg) no-repeat center;
    } 
    &.master {
      background: url(images/master.svg) no-repeat center;
    }
    &.valid {
      &.discover {
        background: url(images/discoverActive.svg) no-repeat center;
      }
      &.visa {
        background: url(images/visaActive.svg) no-repeat center;
      }
      &.amex {
        background: url(images/amexActive.svg) no-repeat center;
      } 
      &.master {
        background: url(images/masterActive.svg) no-repeat center;
      }
    }
  }
  &.gray-cards { 
    .card { 
      &.valid { 
        &.discover {
          background: url(images/discover.svg) no-repeat center;
        }
        &.visa {
          background: url(images/visa.svg) no-repeat center;
        }
        &.amex {
          background: url(images/amex.svg) no-repeat center;
        } 
        &.master {
          background: url(images/master.svg) no-repeat center;
        }
      }
    } 
  }
}