//*************************
//SPACE HELPER
//*************************

// Should be used to modify the default spacing between objects (not between nodes of * the same object)
// p,m = padding,margin
// a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
// x,s,m,l,n = extra-small($space-x),small($space-s),medium($space-m),large($space-l),none(0px)

// Paddings
//
// These classes should be used to modify the default spacing between objects. With the following sizes: 
// - n : 0px
// - x : 10px
// - ss: 15px
// - s : 20px
// - m : 30px
// - l : 60px
//
// <br/>Each class for the padding has the following format: pXY, where: 
// - X: the padding to apply: t (top), b (bottom) v (vertical: top and bottom), r (right), l (left), h (horizontal: right and left), n (none), a (all)
// - Y: the size of the wanted padding (n, x, ss, s, m, l) 
//
// .pts     - Padding top small (30px)
// .pbs     - Padding bottom small (30px)
// .pvs     - Padding vertical small (30px)
// .prs     - Padding right small (30px)
// .pls     - Padding left small (30px)
// .phs     - Padding horizontal small (30px)
// .pas     - Padding small (30px)
// .pts.prs - Padding top and right small (30px)
//
// markup:
// <span class="{$modifiers}" style="background-color: #003a5d; display: inline-block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; ">{$modifiers}</span>
//
// sg-wrapper:
// <div style="text-align:center; color: white;"><sg-wrapper-content/></div>
//
// Styleguide 4.2


.ptn, .pvn, .pan {
  padding-top: 0;
}

.ptx, .pvx, .pax {
  padding-top: $space-x;
}

.ptss, .pvss, .pass {
  padding-top: $space-ss;
}

.pts, .pvs, .pas {
  padding-top: $space-s;
}

.ptm, .pvm, .pam {
  padding-top: $space-m;
}

.ptl, .pvl, .pal {
  padding-top: $space-l;
}

.prn, .phn, .pan {
  padding-right: 0;
}

.prx, .phx, .pax {
  padding-right: $space-x;
}

.prss, .phss, .pass {
  padding-right: $space-ss;
}

.prs, .phs, .pas {
  padding-right: $space-s;
}

.prm, .phm, .pam {
  padding-right: $space-m;
}

.prl, .phl, .pal {
  padding-right: $space-l;
}

.pbn, .pvn, .pan {
  padding-bottom: 0;
}

.pbx, .pvx, .pax {
  padding-bottom: $space-x;
}

.pbss, .pvss, .pass {
  padding-bottom: $space-ss;
}

.pbs, .pvs, .pas {
  padding-bottom: $space-s;
}

.pbm, .pvm, .pam {
  padding-bottom: $space-m;
}

.pbl, .pvl, .pal {
  padding-bottom: $space-l;
}

.pln, .phn, .pan {
  padding-left: 0;
}

.plx, .phx, .pax {
  padding-left: $space-x;
}

.plss, .phss, .pass {
  padding-left: $space-ss;
}

.pls, .phs, .pas {
  padding-left: $space-s;
}

.plm, .phm, .pam {
  padding-left: $space-m;
}

.pll, .phl, .pal {
  padding-left: $space-l;
}

// Margins
//
// These classes should be used to modify the default spacing between objects. With the following sizes: 
// - n : 0px
// - x : 10px
// - ss: 15px
// - s : 20px
// - m : 30px
// - l : 90px
//
// <br/>Each class for the margin has the following format: pXY, where: 
// - X: the margin to apply: t (top), b (bottom) v (vertical: top and bottom), r (right), l (left), h (horizontal: right and left), n (none), a (all)
// - Y: the size of the wanted margin (n, x, ss, s, m, l) 
//
// .mts     - Margin top small (30px)
// .mbs     - Margin bottom small (30px)
// .mvs     - Margin vertical small (30px)
// .mrs     - Margin right small (30px)
// .mls     - Margin left small (30px)
// .mhs     - Margin horizontal small (30px)
// .mas     - Margin small (30px)
// .mts.mrs - Margin top and right small (30px)
//
// markup:
// <span class="{$modifiers} pas" style="background-color: #003a5d; display: inline-block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; ">{$modifiers}</span>
//
// sg-wrapper:
// <div style="text-align: center;"><span style="text-align:center; color: white; display: inline-block; border: 1px solid black;"><sg-wrapper-content/></span></div>
//
// Styleguide 4.3

.mtn, .mvn, .man {
  margin-top: 0px;
}

.mtx, .mvx, .max {
  margin-top: $space-x;
}

.mtss, .mvss, .mass {
  margin-top: $space-ss;
}

.mts, .mvs, .mas {
  margin-top: $space-s;
}

.mtm, .mvm, .mam {
  margin-top: $space-m;
}

.mtl, .mvl, .mal {
  margin-top: $space-l;
}

.mrn, .mhn, .man {
  margin-right: 0px;
}

.mrx, .mhx, .max {
  margin-right: $space-x;
}

.mrss, .mhss, .mass {
  margin-right: $space-ss;
}

.mrs, .mhs, .mas {
  margin-right: $space-s;
}

.mrm, .mhm, .mam {
  margin-right: $space-m;
}

.mrl, .mhl, .mal {
  margin-right: $space-l;
}

.mbn, .mvn, .man {
  margin-bottom: 0px;
}

.mbx, .mvx, .max {
  margin-bottom: $space-x;
}

.mbss, .mvss, .mass {
  margin-bottom: $space-ss;
}

.mbs, .mvs, .mas {
  margin-bottom: $space-s;
}

.mbm, .mvm, .mam {
  margin-bottom: $space-m;
}

.mbl, .mvl, .mal {
  margin-bottom: $space-l;
}

.mln, .mhn, .man {
  margin-left: 0px;
}

.mlx, .mhx, .max {
  margin-left: $space-x;
}

.mlss, .mhss, .mass {
  margin-left: $space-ss;
}

.mls, .mhs, .mas {
  margin-left: $space-s;
}

.mlm, .mhm, .mam {
  margin-left: $space-m;
}

.mll, .mhl, .mal {
  margin-left: $space-l;
}

//*************************
//FONT HELPERS
//*************************

h1, .h1 { font-size: $font-size-large; font-weight: $font-weight-light; } //30px
h2, .h2 { font-size: $font-size-medium; } // 16px
h3, .h3 { font-size: $font-size-default; } //14px

$font-size-x-small: 10px;
$font-size-small: 12px;
$font-size-default: 14px;
$font-size-medium: 16px;
$font-size-large: 30px;

.text-size-x-small { font-size: $font-size-x-small; }
.text-size-small { font-size: $font-size-small; }
.text-size-default { font-size: $font-size-default; }
.text-size-medium { font-size: $font-size-medium; }
.text-size-large { font-size: $font-size-large; }

//*************************
//COLOR HELPERS
//*************************

.text-primary, a.text-primary {
  color: $primary-color;
}

.text-secondary, a.text-secondary {
  color: $secondary-color;
}

.text-default, a.text-default {
  color: $default-color;
}

.text-danger, a.text-danger {
  color: $danger-color;
}

.text-white, a.text-white {
  color: $white;
} 

.bg-primary {
  background-color:  $primary-color;
}

.bg-secondary {
  background-color:  $secondary-color;
}

.bg-default {
  background-color:  $default-color;
}

.bg-danger {
  background-color:  $danger-color;
}

.bg-white {
  background-color:  $white;
}

.border-primary {
  border-color: $primary-color;
}

.border-secondary {
  border-color: $secondary-color;
}

.border-default {
  border-color: $default-color;
}

.border-danger {
  border-color:  $danger-color;
}

//*************************
//OTHER HELPERS
//*************************
.cursor-pointer {
  cursor: pointer;
}

.center-block {
  float: none;
}

.display-block {
  display: block;
}

.inline-middle {
  display: inline-block;
  vertical-align: middle;
}


