/* 
* MIXINS
*/
/* Letter spacing is simpler.. stolen from somewhere */
@mixin letter-spacing($letterspacing) {
    letter-spacing: $letterspacing/1000 * 1em;
}

/* mixin for writing inline media queries */
@mixin mq($breakpoint) {

  @include media-breakpoint-down($breakpoint) {
    @content;
  }
}

/* usage: @include transition(color .3s ease); */
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

//border radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}