.modal-content{
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
  moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
  -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
  box-shadow: 0 5px 15px rgba(0,0,0,0);
  @include border-radius(3px);
  border: 1px solid rgba($secondary-color,0.3);
}

.modal-backdrop {
  background-color: $backdrop-color;
}

.modal-backdrop.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

@media (min-width: 768px) {
  .modal-dialog {
      width: 500px;
      margin: 30px auto;
  }
}
