
.select2-container {
  .select2-choice {
    line-height: $line-height-select2;
    .select2-search-choice-close { 
      background: none;
      &:before { 
        content: "\75";
        font-family: "idonate-icons";
        color: $label_active_color;
        right: 12px;
        position: absolute;
        font-size: 15px;
        top: -12px;
      }
    }
    .select2-arrow {
      b {
        background: none;
        &:before {
          font-family: "idonate-icons";
          content: "\61";
          color: $label_active_color;
          font-weight: normal;
          position: relative;
          top: 6px;
          left: -9px;
        }
      }
    }
  }
  &.select2-dropdown-open {
    background: $white;
    .select2-chosen{ 
      color: $input_text_color;
    }
    .select2-arrow { 
      b { 
        &:before { 
          //changing button based on dropdown status 
          content: "\e00f";
        }
      }
    }
  }
}
.select2-drop {
  box-shadow: none;
  &.select2-drop-active { 
    border: 1px solid $border_color;
    border-top: none;
  }
}