
//Loading/Saving Spinner
@-webkit-keyframes idonate-rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes idonate-rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes idonate-rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes idonate-rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}
.btn {
  position: relative;
  .idonate-spinner {
    -moz-animation: idonate-rotation .6s infinite linear;
    -o-animation: idonate-rotation .6s infinite linear;
    -webkit-animation: idonate-rotation .6s infinite linear;
    animation: idonate-rotation .6s infinite linear;
    border:1px solid rgba(#fff,.15);
    border-radius:100%;
    height:18px;
    width:18px;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 14px;
    &:before {
      border-top:2px solid rgba(#fff,.9);
      border-left:2px solid transparent;
      border-bottom:2px solid transparent;
      border-right:2px solid transparent;
      border-radius:100%;
      content:"";
      display:block;
      height:100%;
      left:0px;
      position:absolute;
      top:-2px;
      width:100%;
    }
  }
}
