body {
  font-family  :  $font-family-default;
  font-weight  :  $font-weight-default;
  color: $default-color;
  font-size: $font-size-default;
}

p {
  margin: 0 0 ($line-height-default / 2);
  font-size: $font-size-default;
  line-height: $line-height-default;
}