.ui-select-container {
  outline: 0;
  .ui-select-match {
    background: none;
    outline: 0;
    .ui-select-toggle { 
      height: $input-height + 2px;
      &:hover, &:focus { 
        background: none;
        outline: 0;
      }
      .ui-select-placeholder {
        line-height: 2.5;
      }
      .ui-select-match-text { 
        text-transform: initial;
        color: $input-color;
        font-weight: normal;
      }
      .caret {
        margin-top: 0;
        border-right: 0px;
        border-left: 0px;
        border-top: 0px;
        position: absolute;
        top: 17px;
        right: 13px;
        width: auto;
        height: auto;
        &:before {
          font-family: "idonate-icons" !important;
          content: "\61";
          color: $label_active_color;
          text-transform: initial;
        }
      }
    }
  }
  .ui-select-search { 
    height: $input-height + 2px;
  }
}