//********************************************VARIABLES***********************************************

//COLORS
$alizarin-crimson:                #E0213E;
$rolling_stone_approx:            #7F8488; 
$abbey_approx:                    #525C5F;
$white:                           #FFFFFF;
$athens-gray:                     #F7F8FA;
$curious_blue_approx:             #2F8DD4;
$alabaster_approx:                #FCFCFC;
$silver_sand_approx:              #B6B8BA;
$iron_approx_2:                   #D1D2D3;
$java_approx:                     #16ABD3;
$regent_gray_approx:              #89949B;

//Unofficial colors yet to be consolidated
$color-gray-dark:                 #4D4D4D;
$silver_approx:                   #C5C5C5;
$cornflower_approx:               #8CCCEB;
$dusty_gray_approx:               #9B9B9B;
$tundora_approx:                  #4A4A4A;
$gallery_approx:                  #EAEAEA;


//Color Variables
$active-color: $white;
$primary-color: $curious_blue_approx;
$secondary-color: $rolling_stone_approx;
$danger-color: $alizarin-crimson;
$default-color: $abbey_approx;
$backdrop-color: $athens-gray;

//Borders
$border_color: $silver_sand_approx;

//Checkbox
$checkbox_color: $silver_sand_approx;

//Inputs 
$input_text_color: $abbey_approx;
$input_addon_color: $silver_approx;
$label_active_color: $curious_blue_approx;
$label_focus_color: $abbey_approx;
$label_color: $regent_gray_approx;


//FONTS
$font-family-default: 'Lato',sans-serif !default;

$font-size-x-small: 10px;
$font-size-small: 12px;
$font-size-default: 14px !default;
$font-size-medium: 16px !default;
$font-size-x-medium: 18px !default;
$font-size-large: 30px !default;

//font weights
$font-weight-thin: 100 !default;
$font-weight-light: 300 !default;
$font-weight-medium: 600 !default;
$font-weight-black: 800 !default;
$font-weight-normal: normal !default;
$font-weight-default: normal !default;
$font-weight-bold: bold !default;

$line-height-default: 1.428571429 !default;
$line-height-default: floor(($font-size-default * $line-height-default)) !default;

//SPACES
$space-x : 10px;
$space-ss: 15px;
$space-s : 20px;
$space-m : 30px;
$space-l : 60px;

$input-height: 50px;
$padding-large-horizontal:  30px;
$line-height-select2:          2.8 !default;